<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Detalles Cita Agendada</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/inicio}">Clinic Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/inicio}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/inicio/sobreNosotros}">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Agenda tu Cita
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/citas/consulta}">Ver Citas Disponibles</a></li>
                            <li><a class="dropdown-item" th:href="@{/agendarCita}">Agendar Cita</a></li>
                            <li><a th:href="@{/medicos}"  class="dropdown-item">Doctores a tu servicio</a></li>
                            <br>
                            <li>Administrador</li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a th:href="@{/administrar/citasAlmacenadas}" class="dropdown-item">Administrar citas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <main>
        <div class="container mt-5">
            <div class="text-success">
                <h2 style="font-size: 14vh" class="fw-bold">Clinic Web</h2>
                <p class="fs-5 fw-bold">Detalles de la cita agendada</p>
            </div>
            <!--Datos del cliente-->
            <div class="mt-5 fs-3">
                <p style="font-size: 3vh" class="fw-bold">Datos del Cliente:</p>
            <div class="row">
                <div class="col">
                    <h6>Nombre:</h6>
                    <p th:text="${citaAgendada.getCliente().getNombre()}"></p>
                </div>
                <div class="col-6">
                    <h6>Apellido:</h6>
                    <p th:text="${citaAgendada.cliente.getApellido()}"></p>
                </div>
                <div class="col">
                    <h6>Edad:</h6>
                    <p><span th:text="${citaAgendada.cliente.getEdad()}"></span> años</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Correo Electronico:</h6>
                    <p th:text="${citaAgendada.cliente.getCorreo()}"></p>
                </div>
                <div class="col-5">
                    <h6>Tratamiento a someterse:</h6>
                    <p th:text="${citaAgendada.cita_id.getTratamiento()}"></p>
                </div>
            </div>
            </div>
            <!--Datos de la cita o consulta-->
            <hr>
            <div class="mt-5 fs-3">
                <p style="font-size: 3vh" class="fw-bold">Datos de la cita:</p>
                <div class="row">
                    <div class="col">
                        <h6>Tratamiento:</h6>
                        <p th:text="${citaAgendada.cita_id.getTratamiento()}"></p>
                    </div>
                    <div class="col-6">
                        <h6>Fecha de la cita:</h6>
                        <p><span th:text="${citaAgendada.cita_id.getFechaCita().getYear()}"></span>/
                            <span th:text="${citaAgendada.cita_id.getFechaCita().getMonth()}"></span>/
                        <span th:text="${citaAgendada.cita_id.getFechaCita().getDayOfMonth()}"></span></p>
                    </div>
                    <div class="col">
                        <h6>Hora:</h6>
                        <p><span th:text="${citaAgendada.cita_id.getFechaCita().getHour()}"></span>:<span th:text="${citaAgendada.cita_id.getFechaCita().getMinute()}"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>Medico a cargo:</h6>
                        <p><span>Dr. </span><span  th:text="${citaAgendada.cita_id.getMedico_id().getNombre()}"></span></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a th:href="@{/administrar/citasAgendadas}" class="btn btn-success btn-lg">Regresar a la lista</a>
            </div>
        </div>
    </main>

<footer class="footer mt-5 bg-info bg-gradient border border-warning border-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Enlaces</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contacto</h4>
                <address>
                    <strong>Empresa XYZ</strong><br>
                    Calle Principal, 123<br>
                    Ciudad, Estado<br>
                    <abbr title="Teléfono">Tel:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="col-md-4">
                <h4>Síguenos</h4>
                <ul class="list-unstyled list-inline">
                    <li>
                            <span>
                                <a href="#"><img src="https://iconos8.es/icon/8824/twitter" alt="Twitter"></a>
                            </span>
                    </li>
                    <li>
                            <span>
                                <a href="#"><img src="https://iconos8.es/icon/8818/facebook" alt="Facebook"/></a>
                            </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>